ns.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Service"
  targetNamespace="http://tempuri.org/ns.xsd/Service.wsdl"
  xmlns:tns="http://tempuri.org/ns.xsd/Service.wsdl"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="http://tempuri.org/ns.xsd"
  xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
  xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

  <schema targetNamespace="http://tempuri.org/ns.xsd"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ns="http://tempuri.org/ns.xsd"
    xmlns="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="unqualified"
    attributeFormDefault="unqualified">
    <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <!-- operation request element -->
    <element name="get-cpu-info">
      <complexType>
          <sequence>
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="get-cpu-infoResponse">
      <complexType>
          <sequence>
            <element name="info" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__get_cpu_info::info -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="get-cpu-usage">
      <complexType>
          <sequence>
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="get-cpu-usageResponse">
      <complexType>
          <sequence>
            <element name="usage" type="xsd:float" minOccurs="1" maxOccurs="1"/><!-- ns__get_cpu_usage::usage -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="get-memory-info">
      <complexType>
          <sequence>
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="get-memory-infoResponse">
      <complexType>
          <sequence>
            <element name="info" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__get_memory_info::info -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="get-memory-available">
      <complexType>
          <sequence>
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="get-memory-availableResponse">
      <complexType>
          <sequence>
            <element name="available" type="xsd:float" minOccurs="1" maxOccurs="1"/><!-- ns__get_memory_available::available -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="get-memory-free">
      <complexType>
          <sequence>
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="get-memory-freeResponse">
      <complexType>
          <sequence>
            <element name="free" type="xsd:float" minOccurs="1" maxOccurs="1"/><!-- ns__get_memory_free::free -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="get-drive-number">
      <complexType>
          <sequence>
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="get-drive-numberResponse">
      <complexType>
          <sequence>
            <element name="number" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- ns__get_drive_number::number -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="get-drive-names">
      <complexType>
          <sequence>
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="get-drive-namesResponse">
      <complexType>
          <sequence>
            <element name="names" type="xsd:string" minOccurs="0" maxOccurs="1"/><!-- ns__get_drive_names::names -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="get-drive-info">
      <complexType>
          <sequence>
            <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__get_drive_info::name -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="get-drive-infoResponse">
      <complexType>
          <sequence>
            <element name="info" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__get_drive_info::info -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="get-drive-total-capacity">
      <complexType>
          <sequence>
            <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__get_drive_total_capacity::name -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="get-drive-total-capacityResponse">
      <complexType>
          <sequence>
            <element name="total" type="xsd:float" minOccurs="1" maxOccurs="1"/><!-- ns__get_drive_total_capacity::total -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="get-drive-used-capatity">
      <complexType>
          <sequence>
            <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__get_drive_used_capatity::name -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="get-drive-used-capatityResponse">
      <complexType>
          <sequence>
            <element name="usage" type="xsd:float" minOccurs="1" maxOccurs="1"/><!-- ns__get_drive_used_capatity::usage -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="get-interface-number">
      <complexType>
          <sequence>
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="get-interface-numberResponse">
      <complexType>
          <sequence>
            <element name="number" type="xsd:unsignedInt" minOccurs="1" maxOccurs="1"/><!-- ns__get_interface_number::number -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="get-interface-names">
      <complexType>
          <sequence>
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="get-interface-namesResponse">
      <complexType>
          <sequence>
            <element name="names" type="xsd:string" minOccurs="0" maxOccurs="1"/><!-- ns__get_interface_names::names -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="get-interface-info">
      <complexType>
          <sequence>
            <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__get_interface_info::name -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="get-interface-infoResponse">
      <complexType>
          <sequence>
            <element name="info" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__get_interface_info::info -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="get-interface-ip-address">
      <complexType>
          <sequence>
            <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__get_interface_ip_address::name -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="get-interface-ip-addressResponse">
      <complexType>
          <sequence>
            <element name="ip-address" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__get_interface_ip_address::ip_address -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="get-interface-speed">
      <complexType>
          <sequence>
            <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__get_interface_speed::name -->
          </sequence>
      </complexType>
    </element>
    <!-- operation response element -->
    <element name="get-interface-speedResponse">
      <complexType>
          <sequence>
            <element name="speed" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__get_interface_speed::speed -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="set-hostname">
      <complexType>
          <sequence>
            <element name="hostname" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__set_hostname::hostname -->
          </sequence>
      </complexType>
    </element>
    <!-- operation request element -->
    <element name="set-interface-ip-address">
      <complexType>
          <sequence>
            <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__set_interface_ip_address::name -->
            <element name="ip-address" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__set_interface_ip_address::ip_address -->
            <element name="subnet-mask" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- ns__set_interface_ip_address::subnet_mask -->
          </sequence>
      </complexType>
    </element>
  </schema>

</types>

<message name="get-cpu-infoRequest">
  <part name="Body" element="ns:get-cpu-info"/><!-- ns__get_cpu_info::ns__get_cpu_info -->
</message>

<message name="get-cpu-infoResponse">
  <part name="Body" element="ns:get-cpu-infoResponse"/>
</message>

<message name="get-cpu-usageRequest">
  <part name="Body" element="ns:get-cpu-usage"/><!-- ns__get_cpu_usage::ns__get_cpu_usage -->
</message>

<message name="get-cpu-usageResponse">
  <part name="Body" element="ns:get-cpu-usageResponse"/>
</message>

<message name="get-memory-infoRequest">
  <part name="Body" element="ns:get-memory-info"/><!-- ns__get_memory_info::ns__get_memory_info -->
</message>

<message name="get-memory-infoResponse">
  <part name="Body" element="ns:get-memory-infoResponse"/>
</message>

<message name="get-memory-availableRequest">
  <part name="Body" element="ns:get-memory-available"/><!-- ns__get_memory_available::ns__get_memory_available -->
</message>

<message name="get-memory-availableResponse">
  <part name="Body" element="ns:get-memory-availableResponse"/>
</message>

<message name="get-memory-freeRequest">
  <part name="Body" element="ns:get-memory-free"/><!-- ns__get_memory_free::ns__get_memory_free -->
</message>

<message name="get-memory-freeResponse">
  <part name="Body" element="ns:get-memory-freeResponse"/>
</message>

<message name="get-drive-numberRequest">
  <part name="Body" element="ns:get-drive-number"/><!-- ns__get_drive_number::ns__get_drive_number -->
</message>

<message name="get-drive-numberResponse">
  <part name="Body" element="ns:get-drive-numberResponse"/>
</message>

<message name="get-drive-namesRequest">
  <part name="Body" element="ns:get-drive-names"/><!-- ns__get_drive_names::ns__get_drive_names -->
</message>

<message name="get-drive-namesResponse">
  <part name="Body" element="ns:get-drive-namesResponse"/>
</message>

<message name="get-drive-infoRequest">
  <part name="Body" element="ns:get-drive-info"/><!-- ns__get_drive_info::ns__get_drive_info -->
</message>

<message name="get-drive-infoResponse">
  <part name="Body" element="ns:get-drive-infoResponse"/>
</message>

<message name="get-drive-total-capacityRequest">
  <part name="Body" element="ns:get-drive-total-capacity"/><!-- ns__get_drive_total_capacity::ns__get_drive_total_capacity -->
</message>

<message name="get-drive-total-capacityResponse">
  <part name="Body" element="ns:get-drive-total-capacityResponse"/>
</message>

<message name="get-drive-used-capatityRequest">
  <part name="Body" element="ns:get-drive-used-capatity"/><!-- ns__get_drive_used_capatity::ns__get_drive_used_capatity -->
</message>

<message name="get-drive-used-capatityResponse">
  <part name="Body" element="ns:get-drive-used-capatityResponse"/>
</message>

<message name="get-interface-numberRequest">
  <part name="Body" element="ns:get-interface-number"/><!-- ns__get_interface_number::ns__get_interface_number -->
</message>

<message name="get-interface-numberResponse">
  <part name="Body" element="ns:get-interface-numberResponse"/>
</message>

<message name="get-interface-namesRequest">
  <part name="Body" element="ns:get-interface-names"/><!-- ns__get_interface_names::ns__get_interface_names -->
</message>

<message name="get-interface-namesResponse">
  <part name="Body" element="ns:get-interface-namesResponse"/>
</message>

<message name="get-interface-infoRequest">
  <part name="Body" element="ns:get-interface-info"/><!-- ns__get_interface_info::ns__get_interface_info -->
</message>

<message name="get-interface-infoResponse">
  <part name="Body" element="ns:get-interface-infoResponse"/>
</message>

<message name="get-interface-ip-addressRequest">
  <part name="Body" element="ns:get-interface-ip-address"/><!-- ns__get_interface_ip_address::ns__get_interface_ip_address -->
</message>

<message name="get-interface-ip-addressResponse">
  <part name="Body" element="ns:get-interface-ip-addressResponse"/>
</message>

<message name="get-interface-speedRequest">
  <part name="Body" element="ns:get-interface-speed"/><!-- ns__get_interface_speed::ns__get_interface_speed -->
</message>

<message name="get-interface-speedResponse">
  <part name="Body" element="ns:get-interface-speedResponse"/>
</message>

<message name="set-hostname">
  <part name="Body" element="ns:set-hostname"/><!-- ns__set_hostname::ns__set_hostname -->
</message>

<message name="set-interface-ip-address">
  <part name="Body" element="ns:set-interface-ip-address"/><!-- ns__set_interface_ip_address::ns__set_interface_ip_address -->
</message>

<portType name="ServicePortType">
  <operation name="get-cpu-info">
    <documentation>Service definition of function ns__get_cpu_info</documentation>
    <input message="tns:get-cpu-infoRequest"/>
    <output message="tns:get-cpu-infoResponse"/>
  </operation>
  <operation name="get-cpu-usage">
    <documentation>Service definition of function ns__get_cpu_usage</documentation>
    <input message="tns:get-cpu-usageRequest"/>
    <output message="tns:get-cpu-usageResponse"/>
  </operation>
  <operation name="get-memory-info">
    <documentation>Service definition of function ns__get_memory_info</documentation>
    <input message="tns:get-memory-infoRequest"/>
    <output message="tns:get-memory-infoResponse"/>
  </operation>
  <operation name="get-memory-available">
    <documentation>Service definition of function ns__get_memory_available</documentation>
    <input message="tns:get-memory-availableRequest"/>
    <output message="tns:get-memory-availableResponse"/>
  </operation>
  <operation name="get-memory-free">
    <documentation>Service definition of function ns__get_memory_free</documentation>
    <input message="tns:get-memory-freeRequest"/>
    <output message="tns:get-memory-freeResponse"/>
  </operation>
  <operation name="get-drive-number">
    <documentation>Service definition of function ns__get_drive_number</documentation>
    <input message="tns:get-drive-numberRequest"/>
    <output message="tns:get-drive-numberResponse"/>
  </operation>
  <operation name="get-drive-names">
    <documentation>Service definition of function ns__get_drive_names</documentation>
    <input message="tns:get-drive-namesRequest"/>
    <output message="tns:get-drive-namesResponse"/>
  </operation>
  <operation name="get-drive-info">
    <documentation>Service definition of function ns__get_drive_info</documentation>
    <input message="tns:get-drive-infoRequest"/>
    <output message="tns:get-drive-infoResponse"/>
  </operation>
  <operation name="get-drive-total-capacity">
    <documentation>Service definition of function ns__get_drive_total_capacity</documentation>
    <input message="tns:get-drive-total-capacityRequest"/>
    <output message="tns:get-drive-total-capacityResponse"/>
  </operation>
  <operation name="get-drive-used-capatity">
    <documentation>Service definition of function ns__get_drive_used_capatity</documentation>
    <input message="tns:get-drive-used-capatityRequest"/>
    <output message="tns:get-drive-used-capatityResponse"/>
  </operation>
  <operation name="get-interface-number">
    <documentation>Service definition of function ns__get_interface_number</documentation>
    <input message="tns:get-interface-numberRequest"/>
    <output message="tns:get-interface-numberResponse"/>
  </operation>
  <operation name="get-interface-names">
    <documentation>Service definition of function ns__get_interface_names</documentation>
    <input message="tns:get-interface-namesRequest"/>
    <output message="tns:get-interface-namesResponse"/>
  </operation>
  <operation name="get-interface-info">
    <documentation>Service definition of function ns__get_interface_info</documentation>
    <input message="tns:get-interface-infoRequest"/>
    <output message="tns:get-interface-infoResponse"/>
  </operation>
  <operation name="get-interface-ip-address">
    <documentation>Service definition of function ns__get_interface_ip_address</documentation>
    <input message="tns:get-interface-ip-addressRequest"/>
    <output message="tns:get-interface-ip-addressResponse"/>
  </operation>
  <operation name="get-interface-speed">
    <documentation>Service definition of function ns__get_interface_speed</documentation>
    <input message="tns:get-interface-speedRequest"/>
    <output message="tns:get-interface-speedResponse"/>
  </operation>
  <operation name="set-hostname">
    <documentation>Service definition of function ns__set_hostname</documentation>
    <input message="tns:set-hostname"/>
  </operation>
  <operation name="set-interface-ip-address">
    <documentation>Service definition of function ns__set_interface_ip_address</documentation>
    <input message="tns:set-interface-ip-address"/>
  </operation>
</portType>

<binding name="Service" type="tns:ServicePortType">
  <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="get-cpu-info">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
  <operation name="get-cpu-usage">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
  <operation name="get-memory-info">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
  <operation name="get-memory-available">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
  <operation name="get-memory-free">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
  <operation name="get-drive-number">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
  <operation name="get-drive-names">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
  <operation name="get-drive-info">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
  <operation name="get-drive-total-capacity">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
  <operation name="get-drive-used-capatity">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
  <operation name="get-interface-number">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
  <operation name="get-interface-names">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
  <operation name="get-interface-info">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
  <operation name="get-interface-ip-address">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
  <operation name="get-interface-speed">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
    <output>
          <SOAP:body use="literal" parts="Body"/>
    </output>
  </operation>
  <operation name="set-hostname">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
  </operation>
  <operation name="set-interface-ip-address">
    <SOAP:operation soapAction=""/>
    <input>
          <SOAP:body use="literal" parts="Body"/>
    </input>
  </operation>
</binding>

<service name="Service">
  <documentation>gSOAP 2.8.98 generated service definition</documentation>
  <port name="Service" binding="tns:Service">
    <SOAP:address location="http://localhost:80"/>
  </port>
</service>

</definitions>
